<div id="modalchangepassword" style="display: none">
    @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { id = "changepasswordform" }))
    {

        <div class="changepassword-modal-background">
            <div class="changepassword-modal-header">
                <div class="header-text">Класс устройства</div>
            </div>
            <div id="statusbar" style="display: none; font-size: 12px; text-align:center">

            </div>
            @Html.Hidden("username")
            <div class="changepassword-modal-inputblock">
                <div class="changepassword-modal-label">Новый пароль</div> @Html.Password("newpassword", new { @class = "changepassword-modal-input", id = "changepasswordname" }) @Html.ValidationMessageFor(x => x.changepasswordName)
            </div>
            <div style="clear: both"></div>
            <div class="changepassword-modal-control">
                <button type="submit" class="changepassword-modal-button button-save">Сохранить</button>
                <button type="button" class="changepassword-modal-button button-cancel">Отменить</button>
            </div>
        </div>
    }
</div>