@{
    Layout = "~/Areas/Administration/Views/_AdministrationLayout.cshtml";
   
}

<div style="padding: 25px 0 0 0">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/requestormodal")
@Styles.Render("~/Content/RequestorModal")