<div id="modaldeleteconfirm" style="display: none">
    <div class="deleteconfirm-modal-background">
        <div class="deleteconfirm-modal-header">
            <div class="header-text">Подтверждение на удаление записей</div>
        </div>
        <div class="deleteconfirm-modal-content">
            <div class="deleteconfirm-image"></div>
            <div class="deleteconfirm-text">Вы уверены что хотите удалить выбранные записи?</div>
        </div>
        <div style="clear: both"></div>
        <div class="deleteconfirm-modal-control">
            <button type="button" class="deleteconfirm-modal-button button-yes">Да</button>
            <button type="button" class="deleteconfirm-modal-button button-no">Нет</button>
        </div>
    </div>
</div>
