<button id="newrequest" class="button-control-style pa-button-color">Новая заявка</button>
@if (User.IsInRole("Administrator"))
{
    <button id="deleterequest" class="button-control-style pa-button-color">Удалить</button>
}
<button id="report" class="button-control-style pa-button-color">Отчет</button>
@using (Html.BeginForm("PaSimpleSearch", "CentralCallRequestList", FormMethod.Post, new { id = "simplesearchform", style = "float: right; display: block" }))
{
    <button id="search" type="submit" class="button-search pa-button-color">Найти</button>
    <button id="advsearch" type="button" class="button-search-add">+</button>
    @Html.TextBox("searchvalue", "", new { @class = "input-search-string", @placeholder = "Введите фразу..." })
}
