@using Omu.Awem.Helpers
@using Omu.AwesomeMvc
@{
    ViewBag.Title = "Все заявки по заявителю";
    Layout = "~/Views/AsppCallRequestList/_AsppCallRequestListLayout.cshtml";
}
    @(Html.Awe().Grid("AsppCallRequestsGrid")
      .Columns(new[]{
           new Column
                {
                    Bind = "CallRequestId",
                    Width = 50,
                    ClientFormat = "<input type='checkbox' name='id' value='.CallRequestId'/>",
                    Header = "<input type='checkbox' name='chkAll' />"
                },
          new Column{Bind = "Creation", ClientFormat=".CreationDate", Sort = Sort.Desc, Header="Дата", Width=100},
          new Column{Bind = "Creation", ClientFormat=".CreationTime", Header="Время", Width=100},
          new Column{Bind = "RequestNumber", Header = "№ заявки",Width=100},
          new Column{Bind = "Status", ClientFormat = ".RequestStatus", ClientFormatFunc = "formatStatus", Header = "Статус"},
          new Column{Bind = "RequestorName", Header = "Заявитель", Group=true, Groupable=true, GroupRank=1},
          new Column{Bind = "AssignBoss" , Header = "Ответственный"},
          new Column{Bind = "AssignTo" , Header = "Исполнитель", Group=true, Groupable=true, GroupRank=0},
          new Column{Bind = "Category", Header = "Категория"},
          new Column{Bind = "TroubleSubject", Header = "Содержание"},
          new Column{Bind = "Comment",ClientFormatFunc = "formatComment", Header = "Комментарий"},
      new Column
                {   Bind = "CallRequestId",
                    Width=80,
                    ClientFormat = "<a href=\"/AsppCallRequest/Index?Id=.CallRequestId\" class=\"awe-btn-link\" target=\"_blank\"><span class=\"editicon\"><span></a>",
                    Header = " "

                }
                    })
                      .Resizable(true)
                      .PageSize(100)
                      .Mod(o => o.PageInfo())
                      .Sortable(false)
                      .ShowGroupBar(false)
                      .Groupable(false)
          .ShowGroupedColumn(false).Url(Url.Action("AllCallRequestsByRequestorData", "AsppCallRequestList")))

@Html.Partial("Modals/AsppAdvanceSearchModalPartial")
@Html.Partial("Modals/AsppReportModalPartial")

