@{
    Layout = "~/Views/SvyazCallRequestList/_SvyazCallRequestListLayout.cshtml";
}

<h2>INDEX</h2>


@Html.Partial("Modals/SvyazAdvanceSearchModalPartial")
@Html.Partial("Modals/SvyazReportModalPartial")